/* 16.0 Archive/News Page stylings -------------------------------------------*/
.post{
  @include breakpoint(smallScreen){
    padding: 0 0 20px 0;
  }
  @include breakpoint(largeMobileScreen){
    padding: 20px 0;
  }
  @include breakpoint(laptopScreen){
    padding: 0 25px 20px 25px;
  }
    h2{
      margin-bottom: 15px;
    }
    p{
      margin-top: 15px;
    }
}
.singlePost{
  .entry-title{
    @include breakpoint(smallScreen){
      margin-top: 125px;
    }
    @include breakpoint(largeMobileScreen){
      margin-top: 75px;
    }
    @include breakpoint(laptopScreen){
      margin-top: 50px;
    }
  }
}
.screen-reader-text{
  border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
   word-wrap: normal !important;
}
.blogTitleLink{
	text-decoration: none;
	color: $primaryGrey;
	transition: .3s ease all;
	position: relative;
    &:hover{
    color: $primaryGrey;
    transition: .3s ease all;
  }
}
.updated{
  display: none;
}
.posted-on{
  a{
  	text-decoration: none;
  	color: $primaryYellow !important;
  	transition: .3s ease all;
      &:hover{
      color: $primaryGrey !important;
      transition: .3s ease all;
      }
  }
}
.vcard{
  a{
    text-decoration: none;
  	color: $primaryYellow !important;
  	transition: .3s ease all;
      &:hover{
      color: $primaryGrey !important;
      transition: .3s ease all;
      }
  }
}
.nav-links{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-previous{
  position: relative;
	z-index:1;
  font-family: $prometoMedium;
	font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $brandColor;
	border-radius: 10px 0 0 10px;
	background: $brandColor;
	padding: 10px 25px 10px 25px;
	width: 50%;
	color: $white;
	transition: .3s ease;
	cursor: pointer;
  a {
    color: $white;
  }
	&:after {
		width: 0;
	}
    &:hover{
      background: $brandColorDark;
			border: 2px solid $brandColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	transition: .3s ease;
			color: $white;
    }
}
.nav-next{
  position: relative;
	z-index:1;
  font-family: $prometoMedium;
	font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
	border: 2px solid $brandColor;
	border-radius: 0 10px 10px 0;
	background: $brandColor;
	padding: 10px 25px 10px 25px;
	width: 50%;
	color: $white;
	transition: .3s ease;
	cursor: pointer;
  a {
    color: $white;
  }
	&:after {
		width: 0;
	}
    &:hover{
      background: $brandColorDark;
			border: 2px solid $brandColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	transition: .3s ease;
    }
}
.post-thumbnail{
  text-align:center;
  .size-full{
    width: 70%;
    height: auto;
  }
}
.size-full{
  width: 100%;
  height: auto;
}
.attachment-post-thumbnail{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.search-form{
  .search-submit{
    background-color: $primaryGrey;
    border: 2px solid $primaryGrey;
    color: $black;
    transition: .3s ease all;
    &:hover{
      background-color: $transparent;
      border: 2px solid $primaryGrey;
      color: $primaryGrey;
      transition: .3s ease all;
    }
  }
}
.postHeader{
  margin-bottom: 15px;
}
.blogText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
  margin: 0 auto;
    @include breakpoint(smallScreen){
      padding: 0;
    }
    @include breakpoint(largeMobileScreen){
      padding: 0;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
.searchWrapper {
  background-color: $brandColor;
  .searchForm {
    padding: 10px;
  }
}
.categoryWrapper {
  background-color: $lightGrey;
  margin-top: 25px;
}
.innerWrap {
  padding: 10px;
}
.socialOutterWrapper {
  background-color: $brandColor;
  margin-top: 25px;
}
.searchWrapper, .categoryWrapper, .socialOutterWrapper {
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.blogSideBar {
  nav {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    a {
      width: 50px;
    }
  }
  .socialWrapper {
    img {
      width: 25px;
    }
  }
}
.articleWrapper {
  .entry-header {
    display: block;
  }
  .entry-title {
    a {
      &:after {
        width: 0;
      }
    }
  }
  .thumbnailWrapper {
    a {
      &:after {
        width: 0;
      }
    }
  }
}
.postWrapper {
  .entry-header {
    display: block;
  }
  .attachment-post-thumbnail {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.pagination {
  .nav-links {
    justify-content: space-around;
  }
}
