/* 13.0 Contact Page stylings -------------------------------------------*/
#contactContent{
  margin-top: 125px;
  margin-bottom: 25px;
}
#formWrapInner{
  @include breakpoint(smallScreen){
    padding: 0;
  }
  @include breakpoint(largeMobileScreen){
    padding: 25px;
  }
}
.smallMapWrapper{
  padding: 40px 20px 20px 20px;
}
.caldera-grid label, .awsm-job-form-inner label{
  color: $headlineText !important;
  font-family: $prometoMedium;
  font-weight: 700;
  text-transform: uppercase;
}
.field_required{
  color: $brandColor !important;
}
.CF5ce5ba5c3f551 input[type=text], .CF5ce5ba5c3f551 input[type=email],
#fld_8239328_1, #fld_7683514_1{
  box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.3);
}
.formWrapper{
  padding: 20px;
  background-color: $lightGrey;
}
