/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: $white;
	margin: 0;
}
a {
	position: relative;
	text-decoration: none;
	color: $brandColor;
	transition: .2s ease;
		&:after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $brandColor;
			transition: .2s ease;
		}
		&:hover{
			transition: .2s ease;
			&:after {
				width: 0%;
				transition: .2s ease;
			}
		}
}
// Style highlight to match our themes colors
::selection{
		background: rgba(	35, 125, 58, .5);
}
::-moz-selection{
	background: rgba(	35, 125, 58, .5);
}
::-ms-selection{
	background: rgba(	35, 125, 58, .5);
}
/*
 *  Style for our scrollbar, yeah it won't work in most browsers but still a cool custom touch for anyone using chrome
 */
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    background-color: #CCCCCC;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: $lightGrey;
}

::-webkit-scrollbar-thumb{
    background-color: $brandColor;
}
