/* 3.0 Our page layouts -------------------------------------------*/
.col50{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.pageWidth{
		width: 95%;
		height: 100%;
		margin: 0 auto;
      @include breakpoint(laptopScreen){
        width: 90%;
      }
			@include breakpoint(largeScreen){
        width: 70%;
      }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	height: 100%;
	margin: 0 auto;
	width: 95%;
	@include breakpoint(largeScreen){
		width: 90%;
	}
}
.hero{
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	background-position: left;
}
.flex-container{
	display: flex;
	flex-direction: column;
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.image{
	width: 100%;
	height: auto;
}
.textBlock{
	max-width: 1000px;
	display: flex;
  flex-direction: column;
	@include breakpoint (laptopScreen) {
		max-width: 700px;
	}
}
.paddedSection{
	padding: 50px 0;
}
.limitWidth{
  max-width: 1050px;
  margin: 0 auto;
	padding: 0;
	@include breakpoint(laptopScreen){
		padding: 20px;
	}
}
