/* 12.0 Service Page stylings -------------------------------------------*/
.stickyOuterWrapper {
	width: 30%;
	margin-right: 20px;
	display: none;
	@include breakpoint (laptopScreen) {
		display: block;
	}
	@include breakpoint (extraLargeScreen) {
		width: 20%;
	}
}
.stickyMenuContainer {
	position: -webkit-sticky;
  position: sticky;
  top: 160px;
  z-index: 9998;
}
.stickyMenu {
	display: none;
	background-color: $brandColor;
	border-radius: 15px;
	height: auto;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	padding: 20px;
	@include breakpoint (laptopScreen) {
		display: block;
	}
	.serviceWrapper {
	  img {
	    margin-top: 25px;
	    @include breakpoint (laptopScreen) {
	      margin-top: 0;
	    }
	  }
	}
	#ServiceMenu, #FleetMenu, #ConnectMenu {
		display: flex;
		flex-direction: column;
		li {
			list-style-type: none;
			padding: 0 5px;
			border-bottom: 1px solid $brandColorDark;
			a {
				color: $white;
				text-decoration: none;
				font-size: 16px;
				font-family: $prometoMedium;
				text-transform: uppercase;
				transition: .2s ease;
				&:after {
					width: 0;
				}
				@include breakpoint (extraLargeScreen) {
					font-size: 14px;
				}
				&:hover {
					color: $primaryYellow;
					transition: .2s ease;
				}
			}
		}
	}
}
.stickyMenuWrapper {
	display: flex;
	flex-direction: column;
}
.menu-fleet-menu-container, .menu-services-menu-container {
	width: 100%;
}
.stickyTitle {
	margin-bottom: 15px;
}
.servicesList{
	list-style-type: none;
  padding-left: 0;
	li{
		margin-bottom: 10px;
	}
}
.contentWrapper {
	width: 100%;
	@include breakpoint (laptopScreen) {
		width: 70%;
	}
	@include breakpoint (extraLargeScreen) {
		width: 80%;
	}
	img {
		margin-top: 25px;
		@include breakpoint (laptopScreen) {
			margin-top: 0;
		}
	}
}
.serviceBody {
	margin-top: 20px !important;
	@include breakpoint (laptopScreen) {
		margin-top: -10px !important;
	}
	.current-menu-item {
		a {
			color: $primaryYellow !important;
		}
	}
}
