/* 15.0 Sitemap stylings -------------------------------------------*/
#sitemapEntry{
  @include breakpoint(smallScreen){
    margin-top: 75px;
  }
  @include breakpoint(largeMobileScreen){
    margin-top: 75px;
  }
  @include breakpoint(laptopScreen){
    margin-top: 150px;
  }
}
#text{
  display: none;
}
.page_item{
  a{
    text-decoration: none;
  	transition: .2s ease all;
  	position: relative;
    color: $bodyCopyBlue;
    &:hover{
      color: $primaryYellow;
      transition: .2s ease all;
    }
    &:focus{
      color: $primaryYellow;
      transition: .2s ease all;
    }
  }
}
.newsPosts{
  a{
    text-decoration: none;
  	transition: .2s ease all;
  	position: relative;
    color: $primaryGrey;
    &:hover{
      color: $primaryYellow;
      transition: .2s ease all;
    }
  }
}
.pagenav{
  list-style-type: none;
  ul {
    padding-left: 40px;
  }
}
.newsPosts {
  padding-left: 40px;
}
