/* 6.0 Site Typography -------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: $roboto;
	line-height: 1.6em;
	font-size: 1.5em;
}
h1,h2,h3,h4,h5,h6{
	font-family: $frankRuhlLibre;
	line-height: 1.4em;
	margin-top: 0;
	margin-bottom: 25px;
}
p{
	margin-top: 0;
	margin-bottom: 1em !important;
}
h1{
	font-weight: 500;
	font-size: 2em;
	@include breakpoint (laptopScreen) {
		font-size: 3em;
	}
}
h2{
	font-size: 2.2em;
	font-weight: 500;
}
.whiteText{
	color: $white;
}
.centerText{
	text-align: center;
}
.greenText {
	color: $brandColor;
	font-weight: 700;
}
