/* 1.0 sitewide variables -------------------------------------------*/
/*******************************************************************
Color Variables
*******************************************************************/
$brandColor: #237D3A;
$black: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #C4C4C4;

/*******************************************************************
Font Variables
*******************************************************************/
$frankRuhlLibre: 'Frank Ruhl Libre', serif;
$roboto: "Roboto", "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
