/* 1.0 sitewide variables -------------------------------------------*/
/*******************************************************************
Color Variables
*******************************************************************/
$brandColor: #b70033;
$brandColorDark: #800023;
$bodyCopyBlue: #13293d;
$subHeadText: #2a6280;
$headlineText: #18435a;
$primaryGrey: #404041;
$secondaryGrey: #a5a7aa;
$primaryYellow: #eeb000;
$black: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #f6f6f6;

/*******************************************************************
Font Variables
*******************************************************************/
$prometoMedium: prometo, sans-serif;
$prometoRegular: prometo, sans-serif;
$roboto: "Roboto", "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
